<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Dream</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.549099161334-ksuond5oqcmhht7f3ifg7ht9t2aeke2v</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>
		This app needs access to your media library to play your favorite music and provide a personalized listening experience.
	</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app needs Bluetooth access to connect and communicate with nearby devices for enhanced functionality.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app needs Bluetooth access to pair and communicate with external devices, such as speakers or wearables.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to take photos or record videos for features like creating posts or updating your profile.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app needs access to your contacts to connect you with your friends or facilitate communication within the app.</string>
	<key>NSDownloadsUsageDescription</key>
	<string>This app needs permission to download media and files directly to your device for offline use.</string>
	<key>NSFileProviderUsageDescription</key>
	<string>This app needs access to manage and store files, allowing you to upload, download, and organize your content.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs location access at all times to deliver personalized, location-based content and services, such as recommendations or alerts.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs access to your location, even in the background, to deliver location-based features and services like navigation or alerts.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to your location while you use the app to provide location-based services, like finding nearby places or customizing your experience.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs microphone access to record audio for features like voice messages, video recording, or voice commands.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app needs access to motion data to provide features like activity tracking or motion-enhanced experiences.</string>
	<key>NSNetworkUsageDescription</key>
	<string>This app needs access to network services to function properly and deliver content, updates, and online features.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs access to save photos and videos directly to your photo library for your convenience.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to your photo library to let you upload images to your profile or create posts. For example, you can select an image to set as your profile picture or upload as a post.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app uses speech recognition to convert your spoken words into text, enabling features like voice commands or transcriptions.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>We use your data to provide personalized advertisements and improve your experience.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>FontAwesome6_Brands.ttf</string>
		<string>FontAwesome6_Regular.ttf</string>
		<string>FontAwesome6_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Cairo-Bold.ttf</string>
		<string>Cairo-Regular.ttf</string>
		<string>Mukta-Bold.ttf</string>
		<string>Mukta-Regular.ttf</string>
		<string>Tajawal-Bold.ttf</string>
		<string>Tajawal-Regular.ttf</string>
		<string>Amiri-Bold.ttf</string>
		<string>Amiri-Regular.ttf</string>
		<string>Changa-Bold.ttf</string>
		<string>Changa-Regular.ttf</string>
		<string>Lateef-Bold.ttf</string>
		<string>Lateef-Regular.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Merriweather_120pt-Bold.ttf</string>
		<string>Merriweather_96pt-Regular.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Ubuntu-Bold.ttf</string>
		<string>Ubuntu-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
